<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.movieKing.ticket.dao.TicketDAO">
	<resultMap id="theaterHashMap" type="HashMap">
		<result property="cd" column="theater_cd" javaType="int" />
		<result property="nm" column="theater_nm" javaType="java.lang.String" />
	</resultMap>

	<select id="getTheaterList" resultMap="theaterHashMap">
		SELECT
			theater_cd,
			theater_nm
		FROM theater
	</select>
</mapper>